<div class="data-filter unit-type-filter">
  <p-multiSelect [options]="categories" [(ngModel)]="selected" [optionLabel]="labelKey"
                 [defaultLabel]="placeholder" [maxSelectedLabels]="1" [dataKey]="dataKey" [displaySelectedLabel]="false"
                 [ngClass]="{ 'has-selection': selected.length }" (onChange)="onSelect($event)"></p-multiSelect>
</div>
