<div class="data-filter unit-type-filter">
  <p-dropdown [options]="options" [(ngModel)]="selected" (onChange)="onSelect($event)" [autoWidth]="false"
              [placeholder]="placeholder" [ngClass]="{ 'has-selection': selected }"></p-dropdown>
</div>
