<div class="sidebar" [class.is-mini]="mini" (click)="sidebarClick($event)">
    <button class="btn btn-success btn-sm mx-3 c-pointer costTree" (click)="showCostTree(costTreeModal)"
    triggers="manual" placement="bottom" [ngbPopover]="costTreePopoverContent"
    #costTreePopover="ngbPopover">
    <i class="icon fas fa-sitemap"></i> Cost Tree
    </button>
  <app-menu class="sidebar-menu" [items]="items" [showOnlyIcons]="mini"></app-menu>

  <ng-template #costTreeModal let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title" style="padding-right: 2%;">Cost Tree - Cost Structure for a Pension Scheme</h4>
      <div class="text-center mb-2">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="costTreeTemplate">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="IA"> IA Template
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="IDWG"> IDWG Template
          </label>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body overflow">
      <div *ngIf="costTreeTemplate">
        <img *ngIf="costTreeTemplate === 'IA'" src="../../../../assets/images/cost-tree.jpg" alt="Cost Tree IA Template"
             class="w-100 cost-tree-image small">
        <!-- <p-organizationChart [value]="data" *ngIf="costTreeTemplate === 'IA'" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"></p-organizationChart> -->
        <img *ngIf="costTreeTemplate === 'IDWG'" src="../../../../assets/images/cost-tree-idwg.png"
             alt="Cost Tree IDWG Template"
             class="w-100 cost-tree-image">
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

    <ng-template #costTreePopoverContent>
      <b>Click here for more information on how costs are structured</b>
    </ng-template>
</div>
