<div class="row">
  <div class="col-xl-6 has-fixed-size-card">
    <app-breakdown-chart title="Investment Management Costs Breakdown" *ngIf="filteredBreakdownData"
                         [options]="options"
                         yAxisLabel="Investment Management Costs"
                         [currentUnit]="selectedUnit"
                         [data]="filteredBreakdownData"></app-breakdown-chart>
  </div>
  <div class="col-xl-6 has-fixed-size-card">
    <app-universe-comparision-chart title="Universe Comparision - Investment Management Costs"
                                    *ngIf="filteredComparisionData"
                                    labelY="Investment Management Costs" labelX="(AuM) Assets under Management"
                                    [options]="options" [data]="filteredComparisionData"
                                    [currentUnit]="selectedUnit"></app-universe-comparision-chart>
  </div>

  <div class="col-xl-12 has-fixed-size-card" *ngIf="filteredRows.length">
    <div class="card">
      <div class="card-header">Investment Management Cost</div>
      <div class="card-body tableOverflow">
        <ngx-datatable
          #managementTable
          class="bootstrap expandable mandate-table"
          [columnMode]="'force'"
          [headerHeight]="40"
          [rowHeight]="50"
          trackByProp="id"
          [scrollbarV]="false"
          [scrollbarH]="false"
          [rows]="filteredRows"
        >
          <ngx-datatable-column name="Mandate" prop="name"></ngx-datatable-column>
          <ngx-datatable-column *ngFor="let costType of costTypes" name="{{costType.name}}"
                                [resizeable]="false" [sortable]="false" [draggable]="false"
          >
            <ng-template let-mandate="row" ngx-datatable-cell-template>
              {{calculateCostForMandateCostType(mandate, costType.id)}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Total" prop="amount"
                                [resizeable]="false" [sortable]="false"
                                [draggable]="false">
            <ng-template let-mandate="row" ngx-datatable-cell-template>
              {{formatTotalForRow(mandate, filteredRows)}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
