<div class="scheme-performance-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div class="row">
      <div class="col-xl-12">
        <div class="card has-fixed-footer">
          <div class="card-header">
            Total Portfolio Performance & Attribution
          </div>
          <div class="asset-allocation">
            <ngx-datatable
              #portfolioTable
              class="bootstrap expandable mandate-table"
              [columnMode]="'force'"
              [headerHeight]="50"
              [rowHeight]="50"
              trackByProp="id"
              [scrollbarV]="false"
              [scrollbarH]="false"
              [rows]="filteredRows"
            >
              <ngx-datatable-column
                [width]="60"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                      <span title="Expand/Collapse Row"
                            class="btn btn-translucent c-pointer"
                            (click)="togglePortfolioRow(row)">
                        <i class="fas"
                           [class.fa-chevron-right]="!expanded"
                           [class.fa-chevron-down]="expanded"
                        ></i>
                      </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Portfolio" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="Current Quarter" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{grossPerformanceForCurrentQuarter(portfolio)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="1 Year" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{grossPerformanceForOneYear(portfolio)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="3 Years" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{grossPerformanceForThreeYears(portfolio)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="5 Years" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{grossPerformanceForFiveYears(portfolio)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Benchmark" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{grossBenchmarkPerformance(portfolio)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Relative" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-portfolio="row.portfolio" ngx-datatable-cell-template>
                  {{relativeBenchmarkPerformance(portfolio)}}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-row-detail [rowHeight]="200">
                <ng-template let-row="row.portfolio" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="mandate-row-detail">
                    <ngx-datatable
                      #mandateTable
                      class="bootstrap expandable has-narrow-header mandate-table"
                      [columnMode]="'force'"
                      [headerHeight]="50"
                      [rowHeight]="50"
                      trackByProp="id"
                      [scrollbarV]="false"
                      [scrollbarH]="false"
                      [rows]="row.breakdown"
                    >
                      <ngx-datatable-column
                        [width]="60"
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false">
                        <ng-template ngx-datatable-cell-template>
                          <span></span>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Mandate" prop="name"></ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{grossPerformanceForCurrentQuarter(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{grossPerformanceForOneYear(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{grossPerformanceForThreeYears(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{grossPerformanceForFiveYears(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{grossBenchmarkPerformance(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{relativeBenchmarkPerformance(mandate)}}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>

            </ngx-datatable>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-6" *ngIf="filteredBreakdownData">
        <app-waterfall-chart title="Absolute Performance"
                             yAxisLabel="Absolute Performance" xAxisLabel="Portfolio" [currentUnit]="selectedUnit"
                             [data]="filteredBreakdownData"></app-waterfall-chart>
      </div>
      <div class="col-xl-6">
        <app-waterfall-chart title="Relative Performance" *ngIf="filteredBreakdownData"
                             yAxisLabel="Relative Performance" xAxisLabel="Portfolio" [currentUnit]="selectedUnit"
                             [data]="relativeBreakdownData"></app-waterfall-chart>
      </div>

    </div>
  </div>
</div>
