<div class="scheme-performance-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div appSticky class="dashboard-heading row no-gutters align-items-center justify-content-between mb-4">
      <h4 class="col-md-4 m-0s">
        {{scheme.name}}
      </h4>
      <div class="dashboard-filters col-md-8">
        <div class="row no-gutters dashboard-filters-inner d-flex align-items-center justify-content-end">
          <!--<div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">-->
            <!--<app-unit-type-filter placeholder="Unit Type" (change)="filterByUnitType($event)" selected="percent"></app-unit-type-filter>-->
          <!--</div>-->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-asset-manager-filter [managers]="managers"
                                      (change)="filterByAssetManager($event)"></app-asset-manager-filter>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-mandate-filter [mandates]="mandates"
                                (change)="filterByMandate($event)"></app-mandate-filter>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-cost-category-filter [categories]="costTypes"
                                      placeholder="Cost Types"
                                      (change)="filterByCostType($event)"></app-cost-category-filter>
          </div>
          <!--<div class="px-2">-->
          <!--<app-cost-category-filter [categories]="costTypes" placeholder="Cost Type"-->
          <!--(change)="filterByCostType($event)"></app-cost-category-filter>-->
          <!--</div>-->
          <!--<div class="px-2">-->
          <!--<app-asset-class-filter [assetClasses]="assetClasses"-->
          <!--(change)="filterByAssetClass($event)"></app-asset-class-filter>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 has-fixed-size-card" *ngIf="filteredRows.length">
        <div class="card">
          <div class="card-header">Investment Management Costs</div>
          <div class="card-body">
            <ngx-datatable
              class="bootstrap"
              [columnMode]="'force'"
              [headerHeight]="50"
              [rowHeight]="50"
              [scrollbarV]="false"
              [scrollbarH]="false"
              [rows]="filteredRows"
              [columns]="columns">
              <ngx-datatable-column prop="mandate"></ngx-datatable-column>
              <ngx-datatable-column prop="total" name="Management Costs">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row['formattedTotal']}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="gross_return" name="Gross Return">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row['formatted_gross_return']}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="net_return" name="Net Return">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row['formatted_net_return']}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="net_return" name="Client Return">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row['formatted_client_return']}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <app-performance-chart *ngIf="filteredGrossComparisionData"
                               title="Gross Return vs Investment Management Costs"
                               [data]="filteredGrossComparisionData" [options]="options"
                               labelX="Investment Management Costs"
                               labelY="Gross Return (Percentage)"
                               [currentUnit]="selectedUnit"></app-performance-chart>
      </div>
      <div class="col-xl-6">
        <app-performance-chart *ngIf="filteredNetComparisionData"
        title="Net Return vs Investment Management Costs"
        [data]="filteredNetComparisionData" [options]="options"
        labelX="Investment Management Costs"
        labelY="Net Return (Percentage)"
        [currentUnit]="selectedUnit"></app-performance-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <app-performance-chart *ngIf="filteredClientComparisionData"
                               title="Client Return vs Investment Management Costs"
                               [data]="filteredClientComparisionData" [options]="options"
                               labelX="Investment Management Costs"
                               labelY="Client Return (Percentage)"
                               [currentUnit]="selectedUnit"></app-performance-chart>
      </div>
    </div>
  </div>
</div>
