<div class="data-filter unit-type-filter" style="text-transform: capitalize;">
  <p-multiSelect [options]="costTypes" [(ngModel)]="selected" [optionLabel]="labelKey"
                 [defaultLabel]="placeholder" [maxSelectedLabels]="1" [dataKey]="dataKey" [displaySelectedLabel]="false"
                 [ngClass]="{ 'has-selection': selected.length }" (onChange)="onSelect($event)"></p-multiSelect>
</div>
