<div class="row">
  <div class="col-xl-6 has-fixed-size-card">
    <app-breakdown-chart title="Recurring Costs Breakdown" *ngIf="filteredBreakdownData"
                         [options]="options"
                         yAxisLabel="Recurring Costs"
                         [currentUnit]="selectedUnit"
                         [data]="filteredBreakdownData"></app-breakdown-chart>
  </div>
  <div class="col-xl-6 has-fixed-size-card">
    <app-universe-comparision-chart title="Universe Comparision - Recurring Costs"
                                    *ngIf="filteredComparisionData"
                                    labelY="Recurring Costs" labelX="(AuM) Assets under Management"
                                    [options]="options" [data]="filteredComparisionData"
                                    [currentUnit]="selectedUnit"></app-universe-comparision-chart>
  </div>

  <div class="col-xl-12 has-fixed-size-card" *ngIf="filteredRows.length">
    <div class="card">
      <div class="card-header">Investment Management - Recurring Cost</div>
      <div class="card-body tableOverflow">
        <ngx-datatable
          #managementTable
          class="bootstrap expandable mandate-table"
          [columnMode]="'force'"
          [headerHeight]="40"
          [rowHeight]="50"
          trackByProp="id"
          [scrollbarV]="false"
          [scrollbarH]="false"
          [rows]="filteredRows"
        >

          <ngx-datatable-row-detail [rowHeight]="200" #costTypeDetailRow (toggle)="toggleDetail($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="mandate-row-detail">
                <ngx-datatable
                  #managementTable
                  class="bootstrap expandable mandate-table"
                  [columnMode]="'force'"
                  [headerHeight]="0"
                  [rowHeight]="50"
                  trackByProp="id"
                  [scrollbarV]="false"
                  [scrollbarH]="false"
                  [rows]="row.breakdown"
                >
                  <ngx-datatable-column
                    [width]="60"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template ngx-datatable-cell-template>
                      <span></span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Cost Type" prop="name"></ngx-datatable-column>
                  <ngx-datatable-column name="Total" [resizeable]="false" [sortable]="false" [draggable]="false">
                    <ng-template let-subCostType="row" ngx-datatable-cell-template>
                      {{calculateCostForCostType(filteredMandates, subCostType.id)}}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <ngx-datatable-column
            [width]="60"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <span title="Expand/Collapse Row"
                      class="btn btn-translucent c-pointer"
                      (click)="toggleExpandRow(row)">
                  <i class="fas"
                     [class.fa-chevron-right]="!expanded"
                     [class.fa-chevron-down]="expanded"
                  ></i>
                </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cost Type" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Recurring Costs" prop="total"
                                [resizeable]="false" [sortable]="false"
                                [draggable]="false">
            <ng-template let-cost="row" let-rows="filteredRows" ngx-datatable-cell-template>
              {{formatTotalForRow(cost, filteredRows)}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
