<div class="layout dashboard-layout" >
  <div class="pa-2">
    <div class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <button class="btn d-lg-none sidebar-toggle" [class.btn-link]="sidebarIsCollapsed"
              [class.btn-primary]="!sidebarIsCollapsed"
              type="button"
              data-toggle="collapse"
              (click)="toggleSidebar($event)">
        <span class="fas fa-bars"></span>
      </button>
      <div class="d-flex align-items-center justify-content-between">
        <a class="nav-logo" href="/">
          <img height="15" src="../../../../assets/images/logos/claritex.png">
        </a>
        <!-- <button class="btn btn-success btn-sm mx-3 c-pointer" (click)="showCostTree(costTreeModal)"
                triggers="manual" placement="bottom" [ngbPopover]="costTreePopoverContent"
                #costTreePopover="ngbPopover">
          <i class="icon fas fa-sitemap"></i> Cost Tree
        </button> -->
      </div>
      <button class="btn d-lg-none" [class.btn-link]="isCollapsed" [class.btn-primary]="!isCollapsed" type="button"
              data-toggle="collapse"
              data-target="#navbarContent" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
        <span class="fas fa-user-circle"></span>
      </button>
      <div id="navbarContent"
           [ngbCollapse]="isCollapsed"
           class="collapse navbar-collapse">
        <div class="header-container w-100 d-flex align-items-center justify-content-end">
          <ul class="header-menu nav justify-content-end navbar-nav">
            <p-dropdown class="scheme-dropdown mr-3" [autoWidth]="true" [filter]="true"
                        [(ngModel)]="currentScheme"
                        filterBy="label"
                        placeholder="Go to Pension Scheme"
                        [options]="pensionSchemes"
                        (onChange)="this.switchDashboard($event)" dataKey="id" optionLabel="name"></p-dropdown>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="icon fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:Stewart.Bevan@Cinnober.com" target="_blank">
                <i class="icon fas fa-envelope"></i> Contact
              </a>
            </li>
            <li class="nav-item dropdown" ngbDropdown *ngIf="currentUser">
              <a data-toggle="dropdown" class="nav-link dropdown-toggle c-pointer" id="navbar-account-dropdown"
                 ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">
                {{currentUser.name}}
                <i class="icon fas fa-chevron-down"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu
                   aria-labelledby="navbar-account-dropdown">
                <a href="" (click)="logout()" class="dropdown-item c-pointer">
                  Log out
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dashboard-layout-content">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </div>

  <!-- <ng-template #costTreeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cost Tree - Cost Structure for a Pension Scheme</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center mb-2">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="costTreeTemplate">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="IA"> IA Template
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="IDWG"> IDWG Template
          </label>
        </div>
      </div>
      <div *ngIf="costTreeTemplate">
        <img *ngIf="costTreeTemplate === 'IA'" src="../../../../assets/images/cost-tree.jpg" alt="Cost Tree IA Template"
             class="w-100 cost-tree-image">
        <img *ngIf="costTreeTemplate === 'IDWG'" src="../../../../assets/images/cost-tree-idwg.png"
             alt="Cost Tree IDWG Template"
             class="w-100 cost-tree-image">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #costTreePopoverContent>
    <b>Click here for more information on how costs are structured</b>
  </ng-template> -->
</div>
