<div class="home-page full-height container-fluid">
  <div class="row align-items-center justify-content-center text-center full-height">
    <div class="container-sm">
      <img
        class="img-fluid"
        height="40" alt="ClaritEx by Simplitium - Logo"
        src="../../../assets/images/logos/claritex-by-simplitium-inline.png">
      <div class="mt-4">
        <a routerLink="/dashboard" class="btn btn-outline-warning text-uppercase">Open Dashboard</a>
      </div>
    </div>
  </div>
</div>
