<div class="layout sidebar-layout">
  <div class="layout-wrapper">
    <ng-content select="app-sidebar"></ng-content>
    <div class="layout-content sidebar-layout-content p-4">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </div>
</div>
