<div class="scheme-management-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div appSticky class="dashboard-heading row no-gutters align-items-center justify-content-between mb-4">
      <div class="col-md-2 col-12 row no-gutters align-items-center jusitfy-content-between">
        <div class="col-12 py-1 px-2 data-filter view-type-filter">
          <p-dropdown [options]="views" [(ngModel)]="selectedView" [autoWidth]="false"
                      placeholder="Change View" [ngClass]="{ 'has-selection': selectedView }"></p-dropdown>
        </div>
      </div>
      <div class="dashboard-filters col">
        <div class="row no-gutters dashboard-filters-inner d-flex align-items-center justify-content-end">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2 mr-right-auto">
            <app-unit-type-filter placeholder="Unit Type" (change)="filterByUnitType($event)"></app-unit-type-filter>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-asset-manager-filter [managers]="managers"
                                      (change)="filterByAssetManager($event)"></app-asset-manager-filter>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-mandate-filter [mandates]="mandates"
                                (change)="filterByMandate($event)"></app-mandate-filter>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 py-1 px-2">
            <app-cost-category-filter [categories]="costTypes" placeholder="Cost Type"
                                      (change)="filterByCostType($event)"></app-cost-category-filter>
          </div>
          <!--<div class="px-2">-->
          <!--<app-cost-category-filter [categories]="filteredCostTypes" placeholder="Cost Type"-->
          <!--(change)="filterByCostType($event)"></app-cost-category-filter>-->
          <!--</div>-->
          <!--<div class="px-2">-->
          <!--<app-asset-class-filter [assetClasses]="filteredAssetClasses"-->
          <!--(change)="filterByAssetClass($event)"></app-asset-class-filter>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <app-management-cost-manager-view
      *ngIf="selectedView === 'asset_manager'"
      [filteredRows]="filteredRows"
      [costTypes]="rootCostTypes"
      [selectedUnit]="selectedUnit"
      [netAssets]="totalCosts.net_asset_amount"
      [filteredBreakdownData]="filteredBreakdownData"
      [filteredComparisionData]="filteredComparisionData"
      [calculateCostForMandateCostType]="calculateCostForMandateCostType.bind(this)"
      [calculateCostForManagerCostType]="calculateCostForManagerCostType.bind(this)"
    ></app-management-cost-manager-view>

    <app-management-cost-mandate-view
      *ngIf="selectedView === 'mandate'"
      [filteredRows]="filteredMandates"
      [costTypes]="rootCostTypes"
      [netAssets]="totalCosts.net_asset_amount"
      [selectedUnit]="selectedUnit"
      [filteredBreakdownData]="filteredMandateBreakdown"
      [filteredComparisionData]="filteredComparisionData"
      [calculateCostForMandateCostType]="calculateCostForMandateCostType.bind(this)"
      [calculateCostForManagerCostType]="calculateCostForManagerCostType.bind(this)"
    ></app-management-cost-mandate-view>

    <app-management-cost-type-view
      *ngIf="selectedView === 'cost_type'"
      [filteredMandates]="filteredMandates"
      [filteredRows]="filteredCostTypes"
      [selectedUnit]="selectedUnit"
      [costTypes]="rootCostTypes"
      [selectedUnit]="selectedUnit"
      [filteredBreakdownData]="filteredCostTypesBreakdown"
      [filteredComparisionData]="filteredComparisionData"
      [calculateCostForCostType]="calculateCostForCostType.bind(this)"
      [calculateCostForMandateCostType]="calculateCostForMandateCostType.bind(this)"
      [calculateCostForManagerCostType]="calculateCostForManagerCostType.bind(this)"
    ></app-management-cost-type-view>
  </div>
</div>
