<div class="scheme-auxiliary-cost-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div appSticky class="dashboard-heading row no-gutters align-items-center justify-content-between mb-4">
      <h4 class="col-md-4 m-0s">
        {{scheme.name}}
      </h4>
      <div class="dashboard-filters dashboard-filters col-md-8">
        <div class="row no-gutters dashboard-filters-inner has-less-filters d-flex align-items-center justify-content-end">
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 py-1 px-2">
            <app-unit-type-filter placeholder="Unit Type" (change)="filterByUnitType($event)"></app-unit-type-filter>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 py-1 px-2">
            <app-cost-type-filter [costTypes]="auxiliaryCostAndTypes" (change)="filterByCostType($event)"></app-cost-type-filter>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="totalCosts" class="col-lg-12">
        <div class="row">
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{auxiliaryCost}}
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Auxiliary Service Costs
                </h6>
              </div>
            </div>
          </div>
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{auxiliaryCostBPS}}
                  <small class="font-weight-light">BPS</small>
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Auxiliary Service Costs
                </h6>
              </div>
            </div>
          </div>
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{totalCost}}
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Total Cost
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height">

      <div class="col-xl-6 has-fixed-size-card long-table" *ngIf="filteredRows.length">
        <div class="card has-fixed-footer">
          <div class="card-header">Auxiliary Service Costs</div>
          <div class="card-body pt-0">
            <ngx-datatable class="bootstrap" [columnMode]="'force'" [reorderable]="false" [headerHeight]="50" [rowHeight]="50" [scrollbarV]="false"
              [scrollbarH]="false" [rows]="filteredRows" [columns]="columns">
              <ngx-datatable-column name="Category"></ngx-datatable-column>
              <ngx-datatable-column name="Amount">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row['formattedAmount']}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="card-footer px-4">
            <div class="w-100 d-flex align-items-center justify-content-between">
              <div>
                <b>Total</b>
              </div>
              <div>
                <b>{{totalFilteredAmount}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 has-fixed-size-card breakdownBox">
        <app-breakdown-chart title="Auxiliary Service Costs Breakdown" *ngIf="filteredBreakdownData" yAxisLabel="Auxiliary Service Costs"
          [currentUnit]="selectedUnit" [data]="filteredBreakdownData"></app-breakdown-chart>
        <app-universe-comparision-chart *ngIf="filteredComparisionData" title="Universe Comparision - Auxiliary Service Costs" [data]="filteredComparisionData"
          [options]="options" labelX="Net Assets" labelY="Auxiliary Service Costs" [currentUnit]="selectedUnit"></app-universe-comparision-chart>
      </div>
    </div>
  </div>
</div>
