<div class="app-chart breakdown-chart can-go-fullscreen" [ngClass]="{ 'fullscreen-chart': isFullScreen}">
  <div class="card">
    <div class="card-header">
      <div class="row d-flex align-items-center justify-content-between">
        <div class="text-truncate col-lg-8 col-md-6 col-sm-4 col-xs-2">{{ title ? title : 'Breakdown'}}</div>
        <div class="col">
          <div class="card-actions d-flex align-items-center justify-content-end">
            <div class="chart-type-switcher mr-2" *ngIf="allowedTypes.length && currentTypeID">
          <span *ngFor="let chartType of allowedTypes"
                [ngClass]="{
                'badge-default': chartType.id !== currentTypeID,
                'badge-warning': chartType.id === currentTypeID
                }"
                class="badge c-pointer mx-1 p-1"
                (click)="changeChartType(chartType.id)">
            <i [class]="chartType.icon"></i> {{chartType.name}}
          </span>
            </div>
            <a class="text-dark c-pointer mr-2" [href]="downloadURL" (click)="download($event)" [download]="filename">
              <i class="icon fas fa-arrow-down"></i>
            </a>
            <span class="c-pointer ml-1" (click)="toggleFullScreen()">
          <i class="icon fas fa-expand-arrows-alt" *ngIf="!isFullScreen"></i>
          <i class="icon fas fa-compress" *ngIf="isFullScreen"></i>
        </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <chart #chart *ngIf="chartData" [type]="type.slug" [data]="chartData" [options]="chartOptions"></chart>
    </div>
  </div>
</div>
