<div class="scheme-asset-allocation-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div appSticky class="dashboard-heading row no-gutters align-items-center justify-content-between mb-4">
      <h4 class="col-md-4 m-0s">
        {{scheme.name}}
      </h4>
      <div class="dashboard-filters dashboard-filters col-md-8">
        <div
          class="row no-gutters dashboard-filters-inner has-less-filters d-flex align-items-center justify-content-end">
          <!-- <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 py-1 px-2">
            <app-unit-type-filter [options]="unitTypes" placeholder="Unit Type"
                                  (change)="filterByUnitType($event)"></app-unit-type-filter>
          </div> -->
          <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 py-1 px-2">-->
          <!--<app-cost-type-filter [costTypes]="adminCostAndTypes"-->
          <!--(change)="filterByCostType($event)"></app-cost-type-filter>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <app-breakdown-chart title="Asset Allocation - Current Weighting" *ngIf="filteredBreakdownData"
                             yAxisLabel="Asset Allocation" xAxisLabel="Portfolio" [currentUnit]="selectedUnit"
                             [data]="filteredBreakdownData"></app-breakdown-chart>
      </div>
      <div class="col-xl-6">
        <app-breakdown-chart title="Asset Allocation - Target Weighting" *ngIf="filteredBreakdownTargetData"
                             yAxisLabel="Asset Allocation" xAxisLabel="Portfolio" [currentUnit]="selectedUnit"
                             [data]="filteredBreakdownTargetData"></app-breakdown-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card has-fixed-footer">
          <div class="card-header">Asset Allocation</div>
          <div class="asset-allocation tableOverflow" id="printableArea">
            <ngx-datatable
              #allocationTable
              class="bootstrap expandable mandate-table"
              [columnMode]="'force'"
              [headerHeight]="50"
              [rowHeight]="50"
              trackByProp="id"
              [scrollbarV]="false"
              [scrollbarH]="false"
              [rows]="filteredRows">
              <ngx-datatable-column
                [width]="60"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <span title="Expand/Collapse Row"
                      class="btn btn-translucent c-pointer"
                      (click)="toggleExpandRow(row)">
                  <i class="fas"
                     [class.fa-chevron-right]="!expanded"
                     [class.fa-chevron-down]="expanded"
                  ></i>
                </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Strategy" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="Actual Value">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{formatTotal(row.strategy.amount, assetAllocations.amount)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Weight">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{formatTotalPercent(row.strategy.amount, assetAllocations.amount)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Target" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-strategy="row.strategy" ngx-datatable-cell-template>
                  {{formatTotalPercent(strategy.info.target_amount, assetAllocations.info.target_amount)}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Relative" [resizeable]="false" [sortable]="false"
                                    [draggable]="false">
                <ng-template let-strategy="row.strategy" ngx-datatable-cell-template>
                  {{formatRelative(strategy)}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-row-detail [rowHeight]="200">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="mandate-row-detail">
                    <ngx-datatable
                      #portfolioTable
                      class="bootstrap expandable has-narrow-header mandate-table"
                      [columnMode]="'force'"
                      [rowHeight]="50"
                      trackByProp="id"
                      [scrollbarV]="false"
                      [scrollbarH]="false"
                      [rows]="row.strategy.breakdown"
                    >
                      <ngx-datatable-column
                        [width]="60"
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                      <span title="Expand/Collapse Row"
                            class="btn btn-translucent c-pointer"
                            (click)="togglePortfolioRow(row)">
                        <i class="fas"
                           [class.fa-chevron-right]="!expanded"
                           [class.fa-chevron-down]="expanded"
                        ></i>
                      </span>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Portfolio" prop="name"></ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{formatTotal(mandate.amount, row.strategy.amount)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{formatTotalPercent(mandate.amount, row.strategy.amount)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{formatTotalPercent(mandate.info.target_amount, row.strategy.info.target_amount)}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                            [draggable]="false">
                        <ng-template let-mandate="row" ngx-datatable-cell-template>
                          {{formatRelative(mandate, row.strategy)}}
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-row-detail [rowHeight]="200">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                          <div class="mandate-row-detail">
                            <ngx-datatable
                              class="bootstrap expandable has-narrow-header mandate-table"
                              [columnMode]="'force'"
                              [rowHeight]="50"
                              trackByProp="id"
                              [scrollbarV]="false"
                              [scrollbarH]="false"
                              [rows]="row.breakdown"
                            >
                              <ngx-datatable-column
                                [width]="60"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false"
                                [canAutoResize]="false">
                                <ng-template ngx-datatable-cell-template>
                                  <span></span>
                                </ng-template>
                              </ngx-datatable-column>

                              <ngx-datatable-column name="Mandate" prop="name"></ngx-datatable-column>
                              <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                                    [draggable]="false">
                                <ng-template let-mandate="row" ngx-datatable-cell-template>
                                  {{formatTotal(mandate.amount, row.amount)}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                                    [draggable]="false">
                                <ng-template let-mandate="row" ngx-datatable-cell-template>
                                  {{formatTotalPercent(mandate.amount, row.amount)}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                                    [draggable]="false">
                                <ng-template let-mandate="row" ngx-datatable-cell-template>
                                  {{formatTotalPercent(mandate.info.target_amount, row.info.target_amount)}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="" [resizeable]="false" [sortable]="false"
                                                    [draggable]="false">
                                <ng-template let-mandate="row" ngx-datatable-cell-template>
                                  {{formatRelative(mandate, row)}}
                                </ng-template>
                              </ngx-datatable-column>
                            </ngx-datatable>
                          </div>
                        </ng-template>
                      </ngx-datatable-row-detail>

                    </ngx-datatable>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
            </ngx-datatable>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
