<div class="app-main">
  <div id="app-global-spinner" *ngIf="loading">
    <div class="cs-loader">
      <div class="cs-loader-inner">
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
      </div>
    </div>
  </div>
  <router-outlet *ngIf="!loading"></router-outlet>
</div>
