<div class="data-filter unit-type-filter">
  <p-multiSelect [options]="assetClasses" [(ngModel)]="selected" [optionLabel]="labelKey"
                 [defaultLabel]="placeholder" [maxSelectedLabels]="1" [ngClass]="{ 'has-selection': selected.length }"
                 (onChange)="onSelect($event)" [dataKey]="dataKey" [displaySelectedLabel]="false"></p-multiSelect>
</div>
