<div class="scheme-index-page pos-relative" *ngIf="scheme">
  <div class="layout-loader" *ngIf="!pageLoaded">
    <app-loader-icon></app-loader-icon>
  </div>
  <div class="page-wrapper" *ngIf="pageLoaded">
    <div appSticky class="dashboard-heading row no-gutters align-items-center justify-content-between mb-4">
      <h4 class="col-4 m-0s">
        {{scheme.name}}
      </h4>
      <div class="dashboard-filters col-8 d-flex align-items-center justify-content-end">
        <div class="px-2">
          <app-unit-type-filter (change)="filterByUnitType($event)"></app-unit-type-filter>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="totalCosts" class="col-lg-12">
        <div class="row">
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{investmentCost}}
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Investment Costs
                </h6>
              </div>
            </div>
          </div>
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{adminCost}}
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Administrative Costs
                </h6>
              </div>
            </div>
          </div>
          <div class="text-center col-lg-4">
            <div class="card">
              <div class="card-body">
                <h2 class="font-weight-light text-warning m-0">
                  {{totalCost}}
                </h2>
              </div>
              <div class="card-footer p-3">
                <h6 class="m-0">
                  Total Cost
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 has-fixed-size-card">
        <app-breakdown-chart title="Total Costs Breakdown" *ngIf="filteredBreakdownData"
                             yAxisLabel="Total Costs"
                             [currentUnit]="selectedUnit"
                             [data]="filteredBreakdownData"></app-breakdown-chart>
      </div>
      <div class="col-xl-6 has-fixed-size-card">
        <app-universe-comparision-chart *ngIf="filteredComparisionData" title="Universe Comparision - Total Costs"
                                        [data]="filteredComparisionData" [options]="options"
                                        labelX="Net Assets" labelY="Total Costs"
                                        [currentUnit]="selectedUnit"></app-universe-comparision-chart>
      </div>
    </div>
  </div>
</div>
