<div class="dashboard-index-page">
  <div class="dashboard-page-heading text-center">
    <h1 class="font-weight-light pt-5 mb-4 title animated fadeInUp delay-1">
      Welcome to ClaritEx
    </h1>
    <h2 class="font-weight-light mb-5 tagline animated fadeInUp delay-2 text-uppercase">
      Start your integrated reporting journey here
    </h2>
    <h5 class="font-weight-light pt-2 mb-5 animated fadeInUp delay-3">
      Please select the scheme you'd like to review
    </h5>
  </div>

  <div class="scheme-content">
    <div class="text-center mb-3">
      <ngb-alert type="danger" [dismissible]="false" *ngIf="error">
        Something went wrong!
      </ngb-alert>

      <ngb-alert type="info" [dismissible]="false" *ngIf="!loading && !pensionSchemes.length">
        No Pension Schemes Found!
      </ngb-alert>
    </div>

    <div class="row justify-content-center pt-3 animated fadeInUp delay-3" *ngIf="hasPensionSchemes">
      <div class="col-lg-8">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div *ngFor="let scheme of pensionSchemes" class="col-lg-6 animated fadeInUp">
            <div class="card hover-card">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5 text-uppercase font-weight-light">{{scheme.name}}</h3>
                <div>
                  <a class="btn btn-secondary btn-md c-pointer m-2"
                     (click)="viewCompliance(scheme.id, content)">Compliance</a>
                  <a class="btn btn-success btn-md c-pointer m-2"
                     routerLink="/dashboard/scheme/{{scheme.id}}">Dashboard</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5 delay-5 animated fadeIn" *ngIf="hasMore">
      <button (click)="loadMore()" class="btn btn-primary c-pointer">Load More</button>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{selected.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-datatable
          class="bootstrap"
          [columnMode]="'force'"
          [headerHeight]="50"
          [rowHeight]="50"
          [scrollbarV]="true"
          [scrollbarH]="false"
          [rows]="mandates"
          [columns]="columns">
          <ngx-datatable-column name="Mandate" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Compliance Check" prop="compliance">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span *ngIf="value === 0">Awaiting Receipt</span>
              <span *ngIf="value === 1">Validating</span>
              <span *ngIf="value === 2">Queried</span>
              <span *ngIf="value === 3">Completed</span>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cost Template" prop="template"></ngx-datatable-column>
          <ngx-datatable-column name="Cost Submitted on" prop="created_at">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{value.toDateString()}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Performance Submitted on" prop="created_at">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value.toDateString()}}
              </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>
