<div class="row">
  <div class="col-xl-12">
    <div class="card has-fixed-footer">
      <div class="deduct-cost">
        <div class="card-header">Deduct Cost - Summary</div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>
                <span class="italic headingcustom">
                  Description
                </span>
              </th>
              <!-- <th><span class="italic headingcustom">AUM</span></th> -->
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
                    <td></td>
                    <td>Active FTSE All Share (UK) Equity Fund</td>
                    <td>£98,000,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="vacant"></td>
                    <td class="vacant"></td>
                    <td class="vacant"></td>
                    <td class="vacant"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Amount</td>
                    <td>%</td>
                </tr> -->
            <tr>
              <td class="text-left headingcustom">
                Implied overall investment gain/performance
              </td>
              <td></td>
              <!-- <td class="headingcustom">£8,859,200</td> -->
              <td class="headingcustom">
                9.04
              </td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left">
                <span class="italic">Deduct</span>
              </td>
              <td class="text-left">Portfolio Transaction Costs</td>
              <!-- <td>£98,000</td> -->
              <td>0.10</td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left headingcustom">
                Gross Return
              </td>
              <td></td>
              <!-- <td class="headingcustom">£8,761,200</td> -->
              <td class="headingcustom">
                8.94
              </td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left">
                <span class="italic">Deduct</span>
              </td>
              <td class="text-left">Ongoing Charges</td>
              <!-- <td>£490,000</td> -->
              <td>0.50</td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-left">Ongoing Charges Breakdown</td>
              <!-- <td></td> -->
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">Investment Management Fees</td>
              <!-- <td>£392,000</td> -->
              <td>0.40</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">Administration</td>
              <!-- <td>£49,000</td> -->
              <td>0.05</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">Governance, Regulation & Compliance</td>
              <!-- <td>£19,600</td> -->
              <td>0.02</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">Distribution, Comms & Client Service</td>
              <!-- <td>£29,400</td> -->
              <td>0.03</td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-left">Incidental Costs</td>
              <!-- <td>£686,000</td> -->
              <td>0.70</td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left headingcustom">
                Net Return
              </td>
              <td></td>
              <!-- <td class="headingcustom">£7,585,200</td> -->
              <td class="headingcustom">
                7.74
              </td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left">
                <span class="italic">Deduct</span>
              </td>
              <td class="text-left">Ancillary Service Costs (Incurred Via Account)</td>
              <!-- <td>£196,000</td> -->
              <td>0.20</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-left">One-Off Costs</td>
              <!-- <td>£29,400</td> -->
              <td>0.03</td>
            </tr>
            <tr>
              <td></td>
              <td class="text-left">Administrative Fees</td>
              <!-- <td>£39,200</td> -->
              <td>0.04</td>
            </tr>
            <tr>
              <td class="vacant"></td>
              <td class="vacant"></td>
              <!-- <td class="vacant"></td> -->
              <td class="vacant"></td>
            </tr>
            <tr>
              <td class="text-left headingcustom">
                Client Return
              </td>
              <td></td>
              <!-- <td class="headingcustom">£7,320,600</td> -->
              <td class="headingcustom">
                7.47%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
