$fontFamily: $font-family-base;
$fontSize: 1em;
$borderRadius: $radius;
$disabledOpacity: 0.5;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: $border-color;
$headerBgColor: #eaeaec;
$headerTextColor: $color-fg;
$headerFontWeight: bold;
$headerIconTextColor: $color-fg;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #dddddd;
$contentBgColor: #fff;
$contentTextColor: $color-fg;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: darken($color-bg, 10%);
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: $color-fg;

//Active State
$stateActiveBorderColor: $color-success;
$stateActiveBgColor: $color-success;
$stateActiveTextColor: $color-fg;

//Highlight State
$stateHighlightBorderColor: $color-success;
$stateHighlightBgColor: $color-success;
$stateHighlightTextColor: #ffffff;

//Focus State
$stateFocusBorderColor: $color-success;
$stateFocusBgColor: #fff;
$stateFocusTextColor: #fff;

//Error State
$stateErrorBorderColor: $color-danger;
$stateErrorBgColor: $color-danger;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: darken($color-bg, 10%);
$stateHoverBgColor: #fff;
$stateHoverTextColor: $color-fg;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: $color-fg;
$invalidInputBorderColor: $color-danger;
$inputGroupTextColor: $color-primary;

@import '../../node_modules/primeng/resources/themes/theme';
@import '../../node_modules/primeng/resources/primeng.min.css';
