$primary: #114D64;
$success: #E0AD30;
$danger: #f02b32;
$dark: #333A3D;
//$info: ;
//$secondary: ;
//$warning: #f02b32;

$color-primary: $primary;
$color-success: $success;
$color-danger: $danger;
$color-bg: #ebeff5;
$color-fg: #333A3D;
$body-color: $color-fg;

$font-size: 1rem;
$font-size-lg: $font-size * 1.2;
$font-size-sm: $font-size * 0.8;
$font-family-sans-serif: Roboto, sans-serif;
$font-family-base: $font-family-sans-serif;

$radius: 0.2rem;
$border-radius: .2rem;
$border-radius-lg: .28rem;
$border-radius-sm: .12rem;

$input-btn-padding-y: .3rem;
$input-btn-padding-x: .6rem;
$input-btn-padding-y-sm: .2rem;
$input-btn-padding-x-sm: .4rem;
$input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1rem;

$navbar-light-color: lighten($color-fg, 10%);
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$nav-link-padding-x: 1.5rem;

$sidebar-link-color: desaturate(lighten($color-primary, 50%), 40%);
$sidebar-link-color-hover: desaturate(lighten($color-primary, 60%), 50%);
$sidebar-link-bg-hover: rgba(0, 0, 0, 0.2);
$sidebar-link-color-active: desaturate(lighten($color-primary, 70%), 60%);
$sidebar-link-bg-active: rgba(0, 0, 0, 0.2);
