@import "./variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "./primeng";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/src/themes/bootstrap';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.ui-multiselect-label {
  @extend .text-truncate;
  margin-bottom: 0;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: auto;
  overflow: auto;
  min-height: 100%;
  font-size: 1rem;

  &.is-fullscreen {
    .fullscreen-overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 10000;
      display: block;
    }

    .fullscreen-chart {
      .card {
        .card-body {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.layout {
  min-height: 100vh;
}

.fullscreen-overlay {
  display: none;
}

.full-height {
  min-height: 100vh;
}

.c-pointer {
  cursor: pointer !important;
}

.fa-lg {
  font-size: 1.2rem;
}

.datatable-header-cell-label {
  color: $color-success;
  text-transform: uppercase;
}

.ion-chevron-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: lighten($color-primary, 60%) transparent transparent transparent;
}

.ion-chevron-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent lighten($color-primary, 60%) transparent;
}

.btn {
  text-transform: uppercase;
  border-width: 0 !important;
  letter-spacing: .04rem;

  &.btn-primary,
  &.btn-warning,
  &.btn-info,
  &.btn-danger {
    color: #fff;
  }

  &.btn-outline-danger,
  &.btn-outline-primary,
  &.btn-outline-success,
  &.btn-outline-info,
  &.btn-outline-secondary,
  &.btn-outline-warning {
    border-width: 1px !important;
  }
}

.dropdown:not(.btn-group) .dropdown-toggle::after {
  display: none;
}

.dropdown {
  .btn-success + .dropdown-menu {
    background-color: #fff !important;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu {
    min-width: 250px !important;

    &.dropdown-menu-right {
      left: auto;

      &::before {
        left: auto;
        right: 3rem;
      }

      &::after {
        left: auto;
        right: 3rem;
      }
    }

    &::before {
      border-bottom: 9px solid rgba(0, 0, 0, 0.2);
      border-left: 9px solid rgba(0, 0, 0, 0);
      border-right: 9px solid rgba(0, 0, 0, 0);
      content: "";
      display: inline-block;
      left: 3rem;
      position: absolute;
      top: -8px;
    }

    &::after {
      border-bottom: 8px solid #FFFFFF;
      border-left: 9px solid rgba(0, 0, 0, 0);
      border-right: 9px solid rgba(0, 0, 0, 0);
      content: "";
      display: inline-block;
      left: 3rem;
      position: absolute;
      top: -7px;
    }
  }
}

.ui-dropdown, .ui-multiselect {
  line-height: 1.4;
  width: 100%;
  vertical-align: middle;

  .ui-multiselect-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ui-multiselect-filter-container {
      width: 100%;

      .ui-inputtext {
        padding: 0.5em 0.5em 0.5em 2.5em;
      }

      .fa {
        top: 0.8em;
        left: 0.8em;
      }
    }
  }

  .ui-dropdown-label, .ui-multiselect-label {
    line-height: 1.4;
    @extend .text-truncate;
    padding: 0.4rem 2.5rem 0.4rem 0.8rem;
  }
  .ui-dropdown-trigger, .ui-multiselect-trigger {
    width: 2rem;
    padding: 0 0.5em;
    .fa {
      margin-top: 0.7em;
    }
  }
}

.has-selection {
  .ui-dropdown, .ui-multiselect {
    &.ui-state-default {
      color: #fff;
      background: $color-success;
      border-color: darken($color-success, 10%);
    }

    .ui-dropdown-label, .ui-multiselect-label, .ui-dropdown-trigger, .ui-multiselect-trigger {
      border-color: transparent;
      background: $color-success;
      color: #fff;
    }
  }
}

.card {
  border: none;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;

  .card-header, .card-footer {
    padding: 1rem;
    background: transparent;
    border-color: rgba(0, 0, 0, 0.05);
  }

  &.has-fixed-footer {
    position: relative;

    .card-body {
      padding-bottom: 70px;
    }

    .card-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &.hover-card {
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15) !important;
    }
  }
}

.has-fixed-size-card {
  .card {
    .card-body {
      min-height: 350px;
      max-height: 50vh;
      height: 100%;
      overflow: auto;

      @include media-breakpoint-up(xl) {
        height: 50vmin;
      }
    }
  }

  .app-chart {
    .card {
      .card-body {
        display: flex;
        width: 100%;
        flex-grow: 1;
        max-height: 50vw;
        min-height: 15rem;
        height: calc(50vmax - 1rem);
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(xl) {
          height: 50vmin;
        }

        chart {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.can-go-fullscreen {
  transition: all 0.3s linear;
}

.fullscreen-chart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200000;
  overflow: auto;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    height: 100vmin;
    margin: auto;
    width: 100%;

    .card-body {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      chart {
        width: 80% !important;
        height: auto !important;
      }
    }
  }
}

.dashboard-heading {
  &.sticky {
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: solid 1px #eaeaec;

    @include media-breakpoint-up(lg) {
      left: 18rem;
    }
  }

  .dashboard-filters {
    .dashboard-filters-inner {
      &:not(.has-less-filters) {
        @include media-breakpoint-down(md) {
          justify-content: start !important;
        }
      }

      &.has-less-filters {
        @include media-breakpoint-down(sm) {
          justify-content: start !important;
        }
      }
    }
  }
}

.scheme-dropdown {
  min-width: 100px;

  .ui-dropdown {
    width: 100% !important;
  }
}

.ngx-datatable.scroll-vertical .datatable-body {
  height: 100% !important;
}

.delay-1 {
  animation-delay: 0.7s;
}

.delay-2 {
  animation-delay: 1.4s;
}

.delay-3 {
  animation-delay: 2.1s;
}

.delay-4 {
  animation-delay: 2.8s;
}

.delay-5 {
  animation-delay: 3.5s;
}

.delay-6 {
  animation-delay: 4.2s;
}

.delay-7 {
  animation-delay: 4.9s;
}

.dashboard-layout {
  color: $body-color;
  background: $color-bg;

  .dashboard-layout-content {
    padding: 3.5rem 0 0;
    min-height: 100vh;
  }
}

.dashboard-index-page {
  height: 100%;
  padding: 2rem;
  min-height: 100vh;
  background: $color-primary;

  .dashboard-page-heading {
    .title {
      font-size: 3rem;
      color: #fff;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    .tagline {
      letter-spacing: 0.1rem;
    }

    h2, h3, h4, h5, h6 {
      color: lighten($color-primary, 50%);
    }
  }
}

.datatable-header-cell {
  &.sortable {
    .sort-btn:not([class*="datatable-icon-"]):before {
      font-family: data-table;
      content: "c";
    }
  }
}

.nav-logo {
  a:hover, &:hover {
    text-decoration: none !important;
  }
}

.mandate-table {
  .datatable-row-detail {
    height: 100% !important;
    overflow: auto !important;
    border-bottom: solid 1px #ddd;

    .mandate-row-detail {
      padding: 0 !important;
    }
  }

  .datatable-row-even {
    .mandate-row-detail {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .datatable-row-odd {
    .mandate-row-detail {
      background-color: rgba(0, 0, 0, 0.0);
    }
  }
}

.btn {
  &.btn-translucent {
    background-color: rgba(0, 0, 0, 0);

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  line-height: 2.1 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
  left: auto !important;
}

.navbar {
  padding: 0.5rem 1rem;
  min-height: 3.5rem;
  z-index: 1020;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-nav {
    .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .header-container {
    .header-menu {
      width: inherit;
    }
  }

  .navbar-collapse {
    &.show {
      margin-top: 0.5rem;
      padding-top: 1rem;
      border-top: solid 1px $gray-300;

      .header-container {
        justify-content: stretch !important;
      }
    }
  }
}

.sidebar-layout {
  .sidebar-layout-content {
    @include media-breakpoint-up(lg) {
      margin-left: 18rem !important;
    }

    margin-left: 0 !important;
  }
}

.sidebar {
  background: $primary;
  position: fixed;
  left: -18rem;
  width: 18rem;
  top: 3.5rem;
  bottom: 0;
  overflow: auto;
  z-index: 1010;
  transition: 0.3s cubic-bezier(0.31, 0.88, 0.35, 1) all;

  &.is-mini {
    width: auto;

    .sidebar-menu {

      .nav-link {
        .menu-icon {
          margin-right: 0;
        }
      }

      .nav-item-sub-menu {
        padding-left: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    left: 0;
  }

  .sidebar-menu {
    & > .nav {
      margin-top: 0.5rem;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.2rem;
      color: $sidebar-link-color;

      .menu-icon {
        color: desaturate(lighten($color-primary, 50%), 40%);
        margin-right: 1rem;
      }

      &:hover {
        color: $sidebar-link-color-hover;
        background: $sidebar-link-bg-hover;
      }

      &.active {
        color: $sidebar-link-color-active;
        background: $sidebar-link-bg-active;

        .menu-icon {
          color: $color-success;
        }
      }

      &.active-child {
        color: $sidebar-link-color-active;
        background: $sidebar-link-bg-hover;

        .menu-icon {
          color: $color-success;
        }
      }
    }

    .nav-item-sub-menu {
      background: darken($color-primary, 10%);
      padding: 1rem 0 1rem 1rem;

      .nav-link {
        &:hover {
          color: $sidebar-link-color-hover;
          background: transparent;
        }

        &.active {
          background: transparent;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.sidebar-toggle {
  display: none;
}

.page-has-sidebar {
  .sidebar-toggle {
    display: block;
  }
}

.sidebar-visible {
  .sidebar {
    left: 0;
  }
}

.layout-loader {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 12rem);
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
  border-top: none;
}

.ngx-datatable .datatable-body .datatable-row-wrapper:nth-child(odd) .datatable-row-detail .datatable-body-row {
  background: rgba(0, 0, 0, 0.05);
}

.ngx-datatable .datatable-body .datatable-row-wrapper:nth-child(even) .datatable-row-detail .datatable-body-row {
  background: transparent;
}

.modal-dialog.modal-lg {
  width: 100%;
  max-width: 90% !important;
  padding: 0 2rem;
}

.datatable-body-cell-label {
  text-transform: capitalize;
}

.costTree {
  position: absolute;
  top: 70px;
  right: 0;
}

.deduct-cost {
  background: #fff;
  padding: 20px 0;
}

.table th, .table td {
  padding: 0 12px;
  text-align: left;
  height: 50px;
  vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.deduct-cost .table th, .deduct-cost .table td {
  text-align: center;
}

.deduct-cost h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.headingcustom {
  color: #E0AD30;
  text-transform: uppercase;
  font-weight: normal;
}

.breakdownBox .app-chart.breakdown-chart > .card {
  //height: 365px;
}

.ui-multiselect-items-wrapper {
  text-transform: capitalize;
}

.asset-allocation {
  max-height: 316px;
  overflow: auto;
}

.asset-allocation .table {
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
}

.sidebar .sidebar-menu .nav-link.active span {
  color: #E0AD30;
}

.sidebar .sidebar-menu .nav-link.active-child a {
  color: #E0AD30;
}

.asset-allocation .table th, .asset-allocation .table td {
  border: none;
}

// fix ellipsis on header
.datatable-header-cell {
  span {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// fix ellipsis on cells
.datatable-body-cell-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.container-sm {
  max-width: 500px;
  width: 100%;
  padding: 0 2rem;
  margin: auto;
}

.has-fixed-size-card.long-table .card .card-body {
  min-height: 705px;
}

@media only screen and (max-width: 1200px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 558px;
  }
}

span.export-btn {
  display: inline-block;
  width: 85%;
  text-align: right;
}

// fix ellipsis on header
.datatable-header-cell {
  span {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// fix ellipsis on cells
.datatable-body-cell-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.modal-body.overflow {
  overflow: auto;
  max-height: 540px;
}

.tableOverflow {
  max-height: 550px !important;
  height: auto !important;
}

.mr-right-auto {
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 53vh;
  }
}

@media only screen and (min-width: 1366px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 80.6vh;
  }
}

@media only screen and (min-width: 1440px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 73vh;
  }
}

@media only screen and (min-width: 1500px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 96vh;
  }
}

@media only screen and (min-width: 1600px) {
  .has-fixed-size-card.long-table .card .card-body {
    min-height: 82vh;
  }
}

.small {
  display: inherit;
  width: 50% !important;
  max-width: 100%;
  margin: auto !important;
}

.ngx-datatable {
  &.has-narrow-header {
    .datatable-header {
      height: 40px !important;
      .datatable-header-inner {
        .datatable-header-cell {
          padding: 0.5rem;
        }
      }
    }
  }
}
