<ul class="nav flex-column" [class.only-icons]="showOnlyIcons">
  <li
   class="nav-item" *ngFor="let item of items">
    <a *ngIf="!item.children" class="nav-link"
       [routerLink]="item.link" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: item.pathMatch === 'full' }">
      <i *ngIf="item.icon" class="menu-icon {{item.icon}}"></i>
      <span *ngIf="!showOnlyIcons" class="d-flex w-100 align-items-center justify-content-between">{{item.title}}</span>
    </a>

    <a *ngIf="item.children" class="nav-link c-pointer {{hasActiveChildrenClass(item)}}" (click)="toggle(item)">
      <i *ngIf="item.icon" class="menu-icon {{item.icon}}"></i>
      <span *ngIf="!showOnlyIcons" class="d-flex w-100 align-items-center justify-content-between">
        {{item.title}}
      <i *ngIf="!showOnlyIcons && item.children"
         [ngClass]="{'fas': true, 'fa-chevron-down': isCollapsed(item), 'fa-chevron-up': !isCollapsed(item)}"></i>
      </span>
    </a>

    <div
      [ngClass]="{'nav-item-sub-menu animated': true, 'd-none': isCollapsed(item), 'd-block': !isCollapsed(item)}"
      *ngIf="item.children && item.children.length">
      <app-menu [items]="item.children" [showOnlyIcons]="showOnlyIcons"></app-menu>
    </div>
  </li>
</ul>
