<div class="home-page full-height container-fluid">
  <div class="row align-items-center justify-content-center full-height">
    <div class="container-sm text-center">
      <img height="30" alt="ClaritEx by Simplitium - Logo"
           class="img-fluid"
           src="../../../assets/images/logos/claritex-by-simplitium-inline.png">
      <div class="m-auto pt-5">
        <p *ngIf="error">
          <ngb-alert type="danger" [dismissible]="false">
            Invalid Credentials. Please try again.
          </ngb-alert>
        </p>
        <form class="form" (submit)="login($event); false">
          <div class="form-group text-left">
            <label for="email">Email</label>
            <input required type="email" [(ngModel)]="email" name="email" class="form-control form-control-lg"
                   id="email"
                   placeholder="Enter your email...">
          </div>
          <div class="form-group text-left">
            <label for="password">Password</label>
            <input required type="password" [(ngModel)]="password" name="password" class="form-control form-control-lg"
                   id="password"
                   placeholder="Enter your password...">
          </div>
          <button [disabled]="!(email.length && password.length)" type="submit"
                  class="w-100 d-block c-pointer btn btn-success btn-lg mt-2">Log In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
